body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

#editButton {
    text-align: center;
}

#leftSide {
    border-radius: 25px;
    float:left;
    width:25%;
    text-align: center;
    border: solid gray;
}

#rightSide {
    border-radius: 25px;
    float:right;
    width:25%;
    text-align: center;
    border: solid gray;
}

#middle {
    border-radius: 25px;
    margin:0 auto;
    width:46%;
    text-align: center;
    border: solid gray;
}

#officeHours {
    padding-bottom: 10px;
    margin:0 auto;
    width: 82%;
    text-align: center;
    border: solid gray;

}

#profileAbout {
    padding-bottom: 10px;
    margin:0 auto;
    width: 82%;
    text-align: center;
    border: solid gray;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: medium;
}
h7 {
    font-size: small;
}

#results {
    text-align: center;
    border: solid black;
}

#searchResults {
    border-radius: 25px;
    border: solid black;
    background-color: white;
}

#myconnections {
    border-radius: 25px;
    border: solid black;
    background-color: white;
}

#businessInfo {
    margin:0 auto;
    width: 82%;
    text-align: center;
    border: solid gray;
}

#home {
    background-position: center;
    height: 800px;
    border: solid black;
    background-image: url('https://news.blr.com/app/uploads/sites/3/2019/04/diverse-workers.jpg');
    background-repeat: no-repeat;
    background-size: 1400px;
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profilePic-container {
    border: solid gray;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profilePic-container img {
    width: 150px;
    height: 150px;
}

#event1 {
    height: 610px;
}

#event2 {
    height: 610px;
}

#event3 {
    height: 610px;
}

#abouttext {
    padding-right: 20px;
    width: 50%;

    float: left;
    grid-row: 1;
    grid-column: 1;
}

#aboutpic {
    width: 50%;
    float: right;
    grid-row: 1;
    grid-column: 2;
}

#apic {
    float: right;
    border: solid black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#tpic {
    border: solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#row::after {
    content: "";
    clear: both;
    display: table;
}
#column {
    float: left;
    width: 50%;
    padding: 22px;
}
#members {
    margin: auto;
}

#team {
    text-align: center;
}

#news-title {
    background-position: center;
    height: 400px;
    border: solid black;
    background-image: url('https://blogs.microsoft.com/uploads/sites/134/2018/03/5Q0A1952.jpg');
    background-repeat: no-repeat;
    background-size: 1400px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#epic {
    float: right;
    border: solid black;
    border-radius: 50%;
    width: 550px;
    height: 550px;
}

#e2pic {
    float:left;
    height: 550px;
    width: 550px;
    border: solid black;
}

#e3pic {
    float: right;
    border: solid black;
    border-radius: 50%;
    width: 550px;
    height: 550px;
}

#event1text {
    height: 550px;
    padding-right: 20px;
    width: 50%;
    float: left;
    grid-row: 1;
    grid-column: 1;

}
#event1pic {
    height: 550px;
    width: 50%;
    float:right;
    grid-row: 1;
    grid-column: 2;
    display: flex;
}

#event2text {
    height: 550px;
    padding-left: 20px;
    width: 50%;
    float: right;
    grid-row: 2;
    grid-column: 2;

}
#event2pic {
    height: 550px;
    width: 50%;
    float: left;
    grid-row: 2;
    grid-column: 1;
    display: flex;

}

#event3text {
    padding-right: 20px;
    width: 50%;
    float: left;
    grid-row: 3;
    grid-column: 1;

}
#event3pic {
    width: 50%;
    float: right;
    grid-row: 3;
    grid-column: 2;
    display: flex;
}

.profileButton {
    background-color: white;
    font-size: 16px;
    width: 150px;
}

#posts {
    border: solid lightgray;
    background-color: white;
}